[submodule "ccii-noite"]
    path = ccii-noite
    url = git@github.com:carlosrobertodevops/ccii-noite.git

[submodule "dwfs-tarde"]
    path = dwfs-tarde
    url = git@github.com:carlosrobertodevops/dwfs-tarde.git

[submodule "iaam-tarde"]
    path = iaam-tarde
    url = git@github.com:carlosrobertodevops/iaam-tarde.git
